@import "begin.scss";

@font-face {
	font-family: 'Segoe WP';
	src: url('fonts/ofont.ru_Segoe WP.eot');
	src: local('☺'), url('fonts/ofont.ru_Segoe WP.woff') format('woff'), url('../fonts/ofont.ru_Segoe WP.ttf') format('truetype'), url('fonts/ofont.ru_Segoe WP.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe WPN Semi';
	src: url('fonts/ofont.ru_Segoe WP Semibold.eot');
	src: local('☺'), url('fonts/ofont.ru_Segoe WP Semibold.woff') format('woff'), url('../fonts/ofont.ru_Segoe WP Semibold.ttf') format('truetype'), url('fonts/ofont.ru_Segoe WP Semibold.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

.Navbar{
    display: flex;
    align-items: center;
    height: 67px;
    padding: 0 300px;
}
.Indo{
    font-family: 'Segoe WP';
    font-size: 36.4px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: -0.06em;
    color: #1298dd;
}
.Tourism{
    font-family: 'Segoe WPN Semi';
    font-size: 30.4px;
    letter-spacing: normal;
    color: #8d8d8d;
}